html { height: 100%; }
body {
	color:#FFF;
	height: 100%;
	font-family:'Play', sans-serif;
}

header {box-shadow:0px 0px 6px #000, 0px 0px 6px #000, 0px 0px 6px #000}
nav { background: #000;}


.navbar-nav > li {
	border-radius:3px;
	transition:0.2s;
	padding:0px 10px;
	font-weight:bold;
}
.navbar-nav > li a { color:#FFF; text-shadow:1px 1px 2px #000; }

.navbar-nav > li:hover {
	background:#0005;
	box-shadow:0px 0px 5px #000;
}




::-webkit-scrollbar { width: 15px; background:linear-gradient(to right, #000 0%, #AAA 50%, #000 100%)}
::-webkit-scrollbar-track { box-shadow: inset 0 0 5px grey; border-radius: 8px; }
::-webkit-scrollbar-thumb { background: linear-gradient(to right, #C70 0%, #F80 50%, #C70 100%); border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #FF9933; }



section {min-height:100vh; border-top:2px solid #FFF3; box-shadow:0px -2px 6px #000; text-align:center; display: table; width:100%; padding:20px 0px 0px 0px; overflow-x: hidden; overflow-y: hidden;  position:relative;}
	


.name {text-shadow:2px 2px 3px #000; font-weight:bold; opacity:0; padding-bottom:10px; text-align:center; animation: nameAnimate 1s forwards;}
@keyframes nameAnimate {
  0%{opacity:0; transform:translateY(-100%);}
  100% {opacity:1; transform:translateY(0%);}
}

.status {text-shadow:2px 2px 3px #000; color:#F80; font-weight:bold; padding-top:10px; transform:translateY(200%); opacity:0; text-align:center; animation: statusAnimate 1s forwards;}
@keyframes statusAnimate {
  0%{opacity:0; transform:translateY(200%);}
  100% {opacity:1; transform:translateY(0%);}
}


.separateLine {
	margin:auto;
	width:0px; height:6px; 
	border-radius:3px; 
	background:#FFF; 
	animation: separateLonger 2s forwards;
}

@keyframes separateLonger {
  0%{width:0px;}
  50% {width:0px;}
  100% {width:60vw;}
}


.przewin {
	width:60px;
	height:60px;
	position:absolute;
	bottom:60px; right:60px;
	transform:rotate(90deg);
	border:3px solid #FFF;
	border-radius:30px;
	animation: przewinAnimate 2.5s forwards;
	transition:0.3s;
	opacity:0;
}
@keyframes przewinAnimate {
  0%{opacity:0;}
  80%{opacity:0;}
  100% {opacity:1;}
}
.przewin:hover {
	background:#888;
	cursor:pointer;
}

.przewin a {font-size:30px; color:#FFF; margin-top:-3px}




.animShow{
	opacity:0;
    transform:translateY(-50%);
    transition: 1s ease;
}
.animShow.triggeredCSS3    {transform : translateY(0%); opacity:1; }


.animShow2{
	opacity:0;
    transform:translateY(50%);
    transition: 1s ease;
}
.animShow2.triggeredCSS3    {transform : translateY(0%); opacity:1; }


.decotrationLaser {
	border:1px solid #A50;
	border-radius:2px;
	width:4px; height: 300px;
	position:absolute;
	bottom:-10px; left:30px;
	background:#F80;
	box-shadow:0px 0px 0px #F80;
	animation: decotrationLaserAnimate 2s ease-in-out infinite;
}
@keyframes decotrationLaserAnimate {
  0%{box-shadow:0px 0px 0px #F80;}
  50%{box-shadow:0px 0px 10px #F80;}
  100%{box-shadow:0px 0px 0px #F80;}
}



.container {display: table-cell; vertical-align: middle; text-align:center; position:relative;}
.maxDiv {max-width:1280px; margin:auto;}

.myFeatures div {width:190px; height:190px; border-radius:95px; background:#C80; margin:auto; margin-top:30px; position:relative;}
.myFeatures div img {position:absolute; margin:auto; top:0; left:0; right:0; bottom:0; width:150px; height:150px}
.myFeatures .thread {font-size:30px; font-weight:bold; margin-bottom:2px}
.myFeatures .descr {font-size:17px; color:#FA6;}

.divNeon {
	border:1px solid #F80;
	border-radius:10px;
	box-shadow:inset 0 0 10px #A60, inset 0 0 10px #A60, 0 0 10px #A60;
	padding:20px;
	width:100%;
	background:#AAA3;
	margin-top:30px;
	font-size:18px
}

.mySkills { max-width:350px; }
.mySkills .title { padding-top:20px; font-size:40px;}

.circleSkillLvl {
    width: 60%;
	height: auto;
	padding-top: 60%;
    border-radius: 50%;
	position:relative;
	margin-top:20px;
}

.circleDescr {
	width: 90%;
	height: 90%;
	margin:5% 0 0 5%;
	position:absolute;
	border-radius: 50%;
	background: radial-gradient(#333C,#111C);
	top:0px;
}
.circleDescr p {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); font-size:40px; font-weight:bold}


.procent { background-image:linear-gradient(#111 50%, transparent 50%); transition: 2s ease-in-out; background-position:0% 0%;  background-size: 200% 200%;}
.pr85.triggeredCSS3    {background-position:0% 85%;}
.pr90.triggeredCSS3    {background-position:0% 90%;}

.pr80.triggeredCSS3    {background-position:0% 80%;}
.pr60.triggeredCSS3    {background-position:0% 60%;}
.pr50.triggeredCSS3    {background-position:0% 50%;}
.pr40.triggeredCSS3    {background-position:0% 40%;}

.green .title {color:#0F0}
.green .circleSkillLvl {filter:drop-shadow(0px 0px 4px #0F0); border:2px solid #070;  background-color: #0F0;}
.green .circleDescr {border:2px solid #070;}

.yellow .title {color:#FF0}
.yellow .circleSkillLvl {filter:drop-shadow(0px 0px 4px #FF0); border:2px solid #770;  background-color: #FF0;}
.yellow .circleDescr {border:2px solid #770;}

.red .title {color:#F00}
.red .circleSkillLvl {filter:drop-shadow(0px 0px 4px #F00); border:2px solid #700;  background-color: #F00;}
.red .circleDescr {border:2px solid #700;}

.blue .title {color:#08F}
.blue .circleSkillLvl {filter:drop-shadow(0px 0px 4px #08F); border:2px solid #057;  background-color: #08F;}
.blue .circleDescr {border:2px solid #057;}

.pink .title {color:#F0F}
.pink .circleSkillLvl {filter:drop-shadow(0px 0px 4px #F0F); border:2px solid #707;  background-color: #F0F;}
.pink .circleDescr {border:2px solid #707;}

.purple .title {color:#80F}
.purple .circleSkillLvl {filter:drop-shadow(0px 0px 4px #80F); border:2px solid #307;  background-color: #80F;}
.purple .circleDescr {border:2px solid #307;}

.orange .title {color:#F80}
.orange .circleSkillLvl {filter:drop-shadow(0px 0px 4px #F80); border:2px solid #730;  background-color: #F80;}
.orange .circleDescr {border:2px solid #730;}

footer { background:#222}


.centered {display: table; margin:auto;}
.centered > div {display: table-cell; vertical-align: middle; text-align:center; position:relative}